<app-header titulo="Grid"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="6" size-sm="12"
      *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="assets/stan-lee.jpg"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus architecto error earum expedita dolorum aperiam nobis ipsa, dicta quae
          similique, voluptate fuga eum amet temporibus perspiciatis saepe hic. Omnis, aspernatur.
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
