<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button color="primary"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title color="primary">Reorder</ion-title>
    <ion-button (click)="reorderEnable = !reorderEnable " expand="block" fill="clear" shape="round" slot="end">
      Toggle
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="reorderEnable"> 
    <ion-item *ngFor="let item of personajes">
      <ion-label>{{item}}</ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>
  </ion-list>
</ion-content>
