<app-header titulo="Date Time"> </app-header>

<ion-content>



  <ion-list>
    <ion-list-header>
      <ion-label>Datos de Nacimiento</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-datetime [value]="fechaNaci.toISOString()" displayFormat="YYYY MMMM D" (ionChange)="cambioFecha($event)"></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Min y Max</ion-label>
        <ion-datetime displayFormat="YYYY MMMM D" min="2015-01-01" max="2032-12-31"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Años</ion-label>
        <ion-datetime displayFormat="YYYY" min="2015" max="2032"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Custom Options</ion-label>
        <ion-datetime [pickerOptions]="customPickerOptions" [yearValues]="customYearValues"></ion-datetime>
    </ion-item>

  </ion-list>
</ion-content>
